.about-container {
    .card {
        background: #C5C6C7;

        @media (width < 576px) {

            .card-header,
            .card-body {
                padding: 0;
            }

            .m-0-custom {
                margin: 0 !important;
            }
        }
    }

    .card-text-custom {
        display: flex;
        align-items: center;
        line-height: 1;

        .line-height-custom {
            line-height: 1.5;
        }

        svg {
            fill: #45A29E;
        }
    }

    .about-description {
        h1 {
            color: #45A29E;
        }

        p {
            color: #C5C6C7;
        }
    }

    .skill-container {
        .skill-background {
            background-color: rgb(69 162 158 / 10%);
            padding: 1rem;
            border-radius: 1rem;
        }

        p {
            margin: 0 10px;
        }

        .skill-icon {
            width: 15%;

            svg{
                height: 80%;
                path{
                    fill: #66FCF1;
                }
            }
        }

    }
}