.contact-container{
    p{
        color: #C5C6C7;
    }

    #floatingInputText{
        height: 30vh;
    }

    .submit-btn{
        color: #0B0C10;
        background-color: #45A29E;
        font-weight: 600;
    }
}