.navbar-custom-css {
    padding: 0;

    .portfolio-logo {
        margin: 0 10px;
        color: #fff !important;
    }

    a,
    a:hover {
        color: #fff;
    }

    .nav-ul-custom {
        li {
            a {
                color: #fff;
                span{
                    padding: 0 10px;
                }
            }
        }
    }
}