.navbar-custom-css {
    padding: 0;
    background-color: #0B0C10;

    .portfolio-logo {
        margin: 0 10px !important;
        color: #45A29E !important;
    }

    @media (width < 350px) {
        .portfolio-logo {
            font-size: 0.8rem;
        }
    }

    .navbar-toggler {
        margin-left: 10px;
        border-color: #fff;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    a,
    a:hover {
        color: #fff;
    }

    a.nav-link.active{
        background-color: #45A29E;
    }

    .nav-ul-custom {
        li {
            a {
                color: #fff;

                span {
                    padding: 0 10px;
                }
            }
        }
    }
}